
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
}

body {
    background-color: #f8fafc; /* slate-50 */
    background-image: radial-gradient(circle at 1px 1px, #e2e8f0 1px, transparent 0); /* slate-200 */
    background-size: 2rem 2rem;
}
